<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">
    <update id="update">
        update course
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="teacherId != null">
                teacherId = #{teacherId},
            </if>
            <if test="teacherName != null">
                teacherName = #{teacherName},
            </if>
            <if test="tim != null">
                tim = #{tim},
            </if>
            <if test="room != null">
                room = #{room},
            </if>
            <if test="capacity != null">
                capacity = #{capacity},
            </if>
            <if test="credits != null">
                credits = #{credits},
            </if>
        </set>
        <where>
            courseId = #{courseId}
        </where>
    </update>

    <select id="findCourses" resultType="com.example.demo.entity.Course">
        select * from course
        <where>
            <if test="courseId != null">
                AND courseId = #{courseId}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="teacherId != null">
                AND teacherId = #{teacherId}
            </if>
            <if test="teacherName != null">
                AND teacherName = #{teacherName}
            </if>
            <if test="tim != null">
                AND tim = #{tim}
            </if>
            <if test="room != null">
                AND room = #{room}
            </if>
            <if test="capacity != 0">
                AND capacity = #{capacity}
            </if>
            <if test="credits != 0">
                AND credits = #{credits}
            </if>
            <if test="selectedCount != 0">
                AND selectedCount = #{selectedCount}
            </if>
        </where>
    </select>
</mapper>